<title>Create new cat %></title>
<%= link_to "<< Back to all cats", cats_url %>
  <body>
<center><h1 style="color:purple;">Create new cat</h1></center>
    <%= render "shared/errors" %>
  <%= render "form", cat: @cat %>
</body>
