<!--   # Render a form for the user to input their username and password. -->
<html>

  <center><h3>Login</h3></center>
  <%= render "shared/errors" %>
  <%= render "shared/form", action: session_url %>

</html>
